<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/dist/compiledCSS.css" />
    <title>Kino-bio-page</title>
</head>

<body>
    <header class="header">
        <div class="navigation__mobile">
            <a href="/kino-bio-projekt/index.html">
                <div class="header__logo"></div>
            </a>
            <button class="hamburger" aria-label="Menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </button>
        </div>
        <ul class="hamburger__items">
            <button class="hamburger__close"></button>
            <li class="hamburger__list"><a href="#">BILJETTER</a></li>
            <li class="hamburger__list"><a href="#">EVENEMANG</a></li>
            <li class="hamburger__list"><a href="movies">FILMER</a></li>
            <li class="hamburger__list"><a href="#">MEDLEMSKAP</a></li>
            <li class="hamburger__list"><a href="about-us">OM OSS</a></li>
        </ul>

        <a href="https://klumpish.github.io/kino-bio-projekt/#">
            <div class="header__logo"></div>
        </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <% headerData.forEach(item=> { %>
                    <li class="header__nav-item">
                        <a href="/<%= item.link %>" class="header__nav-link">
                            <%= item.label %>
                        </a>
                    </li>
                    <% }); %>
            </ul>
        </nav>
        <a class="header__bookTicket" aria-label="Book tickets now">
            <button class="header__BookTicket-button">BOKA BILJETT</button>
        </a>
    </header>